---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import CardSection from '../components/CardSection.astro';
import Testimonials from '../components/Testimonials.astro';
import { Image } from 'astro:assets';

import imgAbout from '../assets/images/imgAbout.webp';
---

<Layout title="Ramírez Window Cleaning | Expert Window Cleaning & Pressure Washing in Florida">
	<HeroSection />
	<CardSection />

	<section class="max-w-7xl mx-auto">
		  <div class="flex md:flex-row flex-wrap h-auto p-10">
			<div class="w-full md:w-2/5 text-center text-gray-700">
			  <div class="flex-1 animate-fade-left p-2 md:p-0">
				<Image src={imgAbout} alt='About Image Ramirez Cleaning' class="w-full h-[400px] object-cover object-bottom rounded-lg"/>
				</div>
			</div>
			<div class="w-full md:w-3/5 text-gray-200">
			  <div class="flex-1 md:pr-32 md:pl-16 px-2">
				  <h2 class="text-4xl font-bold mb-4 text-[#0C2461] mt-4 md:mt-0 animate-fade-right">About Us</h2>
				  <hr class="w-48 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
				  <p class="text-gray-900 mb-4 tracking-wider leading-8 animate-fade-right text-pretty">
				  Ramírez Window Cleaning and Pressure Washing is a family business led by Didier Ramírez and Udiel Ramírez since 2017, providing quality services and exceeding the expectations of each of our clients.
				  </p> 
				  <a
				  href="/about"
				  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-blue-900 hover:scale-105 focus:outline-none focus:ring-4"
				>
				  Read more
				  <svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					fill="none"
					viewBox="0 0 14 10"
				  >
					<path
					  stroke="currentColor"
					  stroke-linecap="round"
					  stroke-linejoin="round"
					  stroke-width="2"
					  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
				  </svg>
				</a>
				</div>
			</div>
		  </div>
	  </section>
	  
	  <Testimonials />
</Layout>

