---
import Layout from "../layouts/Layout.astro";
import TitlePage from "../components/titlePage.astro"
---

<Layout title="Privacy Policy | Ramírez Window Cleaning | Expert Window Cleaning & Pressure Washing in Florida">
    <TitlePage title="Privacy Policy"/>
  <div class="flex justify-center items-center min-h-screen md:p-0 p-4">
    <div class="max-w-[700px] mx-auto px-4">
      <h1 class="text-4xl font-bold my-4">General Information</h1>
      <hr class="w-48 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
      <p class="text-xl text-gray-700 mb-4 leading-8">
        Ramirez Window Cleaning & Pressure Washing is committed to safeguarding the privacy of
        its online visitors. To this end, we avoid sending any unwanted or
        unsolicited emails, commonly known as "spam," resulting from your visit
        to our websites, unless you have expressly requested such communication.
        Our Privacy Policy outlines the kinds of information we might gather
        during your visit and how this information may be used. This policy is
        specifically applicable to the Ramirez Window Cleaning & Pressure Washing websites in
        North America.
      </p>
      <p class="text-xl text-gray-700 mb-4 leading-8">
        We advise you to review the privacy policy of any other website you
        visit after leaving ours to ensure you agree with their terms, as our
        policy only applies here. Please note that Ramirez Window Cleaning & Pressure Washing has
        the discretion to modify its Privacy Policy at any time without prior
        notification. Any changes to the policy become effective once they are
        published on our website and only pertain to data collected following
        the update. We encourage regular visits to our site to stay informed
        about the latest terms of our Privacy Policy.
      </p>

      <h2 class="text-4xl font-bold my-4">Confidentiality</h2>
      <hr class="w-48 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
      <p class="text-xl text-gray-700 mb-4 leading-8">
        Ramirez Window Cleaning & Pressure Washing is committed to not selling or distributing
        data to unrelated third parties for promotional activities. However, we
        might gather and disclose aggregated statistical information from our
        website (like sales figures, traffic trends, or similar data) to third
        parties, but only with explicit consent from Ramirez Window Cleaning & Pressure Washing.
        Rest assured, any shared data of this nature will not include personal
        identification details of our users.
      </p>

      <h2 class="text-4xl font-bold my-4">Visitor Identification</h2>
      <hr class="w-48 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
      <p class="text-xl text-gray-700 mb-4 leading-8 animate-fade-right">
        When you access our website, Ramirez Window Cleaning & Pressure Washing might collect
        certain non-personal technical information automatically. This could
        include aspects like the type of web browser you're using, the operating
        system of your computer, and the IP address of the site you used to link
        to ours. Additionally, while you browse our website, we may store
        "cookies" or similar data on your computer. This data aids in
        customizing our website to align with your interests and preferences. If
        you prefer not to accept cookies or wish to be alerted when they are
        placed on your computer, you can adjust your web browser settings to
        delete existing cookies, block them, or receive warnings before a cookie
        is saved. For more details on these functionalities, please refer to
        your specific browser’s guidance.
      </p>

      <h2 class="text-4xl font-bold my-4">Personal Information</h2>
      <hr class="w-48 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
      <p class="text-xl text-gray-700 mb-4 leading-8 animate-fade-right">
        Ramirez Window Cleaning & Pressure Washing only gathers personal identification
        information (such as names, addresses, email addresses, and phone
        numbers) through its website when voluntarily submitted by users. We
        may request your personal details to address your queries, process or
        complete your orders or requests, or for participation in contests and
        sweepstakes. In cases of orders for products or services, additional
        information might be required for processing. We ensure that your
        personal data is not shared with third parties without your consent,
        except when necessary to complete your orders, respond to your
        inquiries, enroll you in promotional events, or comply with legal
        obligations. Occasionally, Ramirez Window Cleaning & Pressure Washing might employ
        external companies for specific services, like managing contests and
        surveys, and will provide them with only the necessary personal
        information for these services. You will only receive emails or
        communications regarding our products, services, or promotions if you
        opt in. While no system is entirely immune to external threats,
        Ramirez Window Cleaning & Pressure Washing implements commercially viable safeguards to
        protect your personal information from unauthorized access and misuse.
      </p>
    </div>
  </div>
</Layout>
