<footer class="bg-[#0C2461] mt-14">
    <div class="mx-auto w-full max-w-7xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center ml-16 md:ml-0">
                    <img src="/img/logo.png" class="h-32 me-3" alt="Ramirez Window Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-black text-white uppercase ">Home</h2>
                    <ul class="text-gray-300  font-medium">
                        <li class="mb-4">
                            <a href="/About" class="hover:underline">About us</a>
                        </li>
                        <li class="mb-4">
                            <a href="/Contact" class="hover:underline">Contact</a>
                        </li>
                        <li>
                            <a href="/Gallery" class="hover:underline">Gallery</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white uppercase">Services</h2>
                    <ul class="text-gray-300  font-medium">
                        <li class="mb-4">
                            <a href="/services/window" class="hover:underline ">Windows Cleaning</a>
                        </li>
                        <li class="mb-4">
                            <a href="/services/sealing" class="hover:underline">Sealing</a>
                        </li>
                        <li class="mb-4">
                        <a href="/services/roof" class="hover:underline">Roof Cleaning</a>
                        </li>
                        <li>
                        <a href="/services/painting" class="hover:underline">Interior and Exterior Painting</a>
                        </li>                        
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white uppercase">Legal</h2>
                    <ul class="text-gray-300  font-medium">
                        <li class="mb-4">
                            <a href="/PrivacyPolicy" class="hover:underline">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-300 sm:text-center ">©Ramirez Window Cleaning. All Rights Reserved.</span>
        </div>
    </div>
</footer>
