---
import CardTestimonial from "./cardTestimonial.astro";
---

<div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
  <h2 class="text-4xl font-bold mb-4 text-[#0C2461] mt-4 md:mt-0 animate-fade-right">Testimonials</h2>
  <hr class="w-64 h-1 my-4 bg-[#0C2461] border-0 rounded md:mb-5" />
  <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
    <CardTestimonial
      service="Window Cleaning, Pressure Washing"
      testimonial="Wow! Perfect service by Ramirez! Excellent work, quick and efficient . They even fixed my broken curtain rod . I will definitely use them again. Strongly recommended!"
      name="Gamze A."
    />

    <CardTestimonial
      service="Roof Cleaning"
      testimonial="Didier did a great job. He was responsive, punctual, professional and thorough. Fair price too."
      name="Jorge S."
    />
    <CardTestimonial
      service="Window Cleaning"
      testimonial="Excellent. They were professional, on time, affordable and great job. I will be using them ever4 months for maintenance. Highly recommended!"
      name="Maria B."
    />
    <CardTestimonial
      service="Window Cleaning"
      testimonial="They did an awesome job on all windows inside & outside. They arrived on time, were organized & cleaned up. Job well done!"
      name="Carol J."
    />
    <CardTestimonial
      service="Sealing"
      testimonial="Ramirez's sealing service was exceptional. They sealed our driveway perfectly, leaving it looking brand new. Their attention to detail and professionalism were top-notch. Highly recommend their services!"
      name="Alex P."
    />

    <CardTestimonial
      service="Exterior Painting"
      testimonial="The exterior painting job done by Ramirez was superb. The finish is flawless, and their color recommendations transformed our home's appearance. Excellent service and highly skilled team!"
      name="Diana L."
    />
  </div>
</div>




